#vmd {
    position:fixed;
    width:100%;
    top:0;
    left:0;
    opacity:0.95;
    z-index:10000;
}

#vmd .vmd-toolbar {
    width:100%;
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(254,254,254,1) 100%);
    box-shadow:0 4px 8px rgba(0,0,0,0.4);
    padding:2px 0 1px 1px;
    height:30px !important;
    z-index:10001;
}

/* Toolbar font resets, some sites override these. */
#vmd .vmd-toolbar #vmd-logo,
#vmd .vmd-toolbar #vmd-on-off,
#vmd .vmd-toolbar .ui,
#vmd .vmd-toolbar .ui .buttons,
#vmd .vmd-toolbar .ui .buttons .button,
#vmd .vmd-toolbar .ui .button,
#vmd .vmd-toolbar .ui .or,
#vmd .vmd-toolbar .ui .or {
    font-family: sans-serif !important;
    font-size: 11px !important;
}

#vmd-snaptarget {
    background-color:#fff;
    position:fixed;
    bottom:0;
    width:100%;
    height:0px;
    left:0;
    z-index:20000;
}

#vmd-logo {
    background:none;
}

#vmd div.ui-widget-handle {
    background-color:#000;
}

#vmd .ui.vmd-element.active.button:before {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color:#ccc;
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    position: absolute;
    top:25px;
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#vmd .ui.vertical.menu {
    box-shadow:0 4px 8px rgba(0,0,0,0.4);
}

.vmd-outline:hover {
    outline:1px solid #00f;
}

.vmd-identifier {
    font-family:Courier New;
    font-size:12px !important;
    font-weight:bold;
}

#vmd .gray {
    color:#999 !important;
}

#vmd .lightgray {
    color:#ddd !important;
}

#vmd .vmd-form {
    position:fixed !important;
    width:680px !important;
    top:40px !important;
}

#vmd .vmd-toolbar-handle {
    background:none !important;
    z-index:20000 !important;
}

#vmd input[name="easing-data"], 
#vmd input[name="transition"] {
    font-family:"Courier New" !important;
    font-weight:bold;
}

#vmd .vmd-easing-data {
    width:120px !important;
    float:right;
}

#vmd .vmd-element.button:hover {
    border:none !important;
    outline:none !important;
    background:#ededed !important;
    color:#666 !important;
}

#vmd .vmd-element.button {
    background:#dbdbdb !important;
    color:#444 !important;
    font-weight:bold !important;
}

#vmd .vmd-element.active:hover,
#vmd .vmd-element.active {
    background:#ccc !important;
    color:#222 !important;
    font-weight:bold !important;
}
